@inherits LayoutComponentBase

<PageTitle>ChronoClash</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="https://github.com/MkkCreations/ChronoClash" target="_blank">About</a>
        </div>

        <article class="content p-4 bg-dark text-light">
            @Body
        </article>
    </main>
</div>

