@page "/"

@using System.Runtime.InteropServices;
@inject ReleaseService ReleaseService;

<h1 class="title">
    Welcome to ChronoClash 
<img class="img" src="/game_img.png" alt="ChronoClash" />
</h1>

@if (Release == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3 class="last-release">
        <a href=@Release.URL>
            Latest Release
        </a>
        <h3>@Release.Version</h3>
        <p class="published-date">@Release.PublishedAt</p>
    </h3>

    <h2>Version Information</h2>
    <div class="col-6 description">
        <MarkupView Body="@Release.Body" />
    </div>

    <h2>Download</h2>
    <div class="artifacts">
        @foreach (var artifact in Release.Artifacts)
        {
            <ArtifactView Artifact=@artifact />
        }
    </div>
}

@code {
    private Release? Release { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Release = await ReleaseService.GetRelease();
    }
}